{% extends 'core/base.html' %}

{%load static%}

{%block content%}
 <br>

    <!-- Team Start -->
    <div class="container pt-5 pb-3">
        <div class="d-flex flex-column text-center mb-5">
            <h5 class="text-primary mb-3">Nuestro Equipo</h5>
            <h1 class="m-0">Conoce a nuestros profesionales</h1>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="row mb-2 align-items-center">
                    <div class="col-6 text-right">
                        <h6>David López</h6>
                        <h6 class="text-muted font-weight-normal text-capitalize mb-2">Auditor- Contador</h6>
                        <p>Director tributario</p>
                        <div class="d-flex justify-content-end">
                        </div>
                    </div>
                    <div class="col-6">
                        <img class="img-thumbnail p-3" src="{%static 'core/img/team0.jpg' %}" alt="Image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="row mb-2 align-items-center">
                    <div class="col-6">
                        <img class="img-thumbnail p-3" src="{%static 'core/img/team2.jpg' %}" alt="Image">
                    </div>
                    <div class="col-6 text-left">
                        <h6>Paula Guerrero</h6>
                        <h6 class="text-muted font-weight-normal text-capitalize mb-2">Auditora-Contadora</h6>
                        <p>Directora contable</p>
                        <div class="d-flex justify-content-start">

                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <!-- Team End -->
{%endblock%}

   